language: generic

os: linux
dist: jammy
cache: packages
warnings_are_errors: false


before_install:
  - sudo apt-get install -y build-essential texlive-xetex texlive-pictures texlive-science lmodern pandoc

install: echo Installation step #do not remove this line!

script: tools/check.sh

after_success: tools/deploy.sh

notifications:
  email: false

